/* ? VARIABILI------------------------------------------ */
:root{
    --footHeight: 75px;
    --generalMargin: 2rem;
    --btnFilterHeight: 60px;
    --titleMovieHeight: 50px;
}

/* ? GENERAL------------------------------------------ */
html {margin: 0; overflow: hidden; position: relative;}

.my-appContainer{
    position: relative;
    min-width: 100px;
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;

    border-top: 1px solid #474748;
}

.my-blackScreen{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 990;
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
}

/* ? MOVIE CONTAINER----------------------------------- */
.my-moviesContainer{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.my-moviesContainer::-webkit-scrollbar{
    display: none;
}

.my-movieBox{
    position: relative;
    padding-bottom: var(--footHeight);
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;

    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 25px 4px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 0px 25px 4px rgba(0, 0, 0, 0);
    
}

.my-movieBgImage{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: auto;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
    opacity: .5;
    scale: 2;

    animation: 35s linear infinite spin;
}

.my-movieTitle{
    display: block;
    height: var(--titleMovieHeight);
    line-height: var(--titleMovieHeight);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - var(--generalMargin));

    font-size: 1rem;

    border-radius: 0 0 25px 25px;
    background-color: #1a1a1a;
}

.my-moviePoster{
    background-color: #1a1a1a;
    width: calc(100% - var(--generalMargin));
    height: calc(100vh - 1rem  - var(--footHeight) - (var(--generalMargin) * 2) - var(--btnFilterHeight) - var(--titleMovieHeight));
    margin-top: 1rem;

    border-radius: 25px 25px 0 0;
    background-size: cover;
    background-position: center;

    max-height: auto;
    transition: max-height .2s ease-out;
}

.my-actorProfile{
    height: 150px;
    min-width: 120px;
    width: 120px;
    border-radius: 20px;
    line-height: .7rem;
    font-size: .7rem;
    background-size: cover;
    background-position: center;
}

#my-mediaCast, #my-mediaStream{
    overflow-x: scroll;
}

#my-mediaCast::-webkit-scrollbar, #my-mediaStream::-webkit-scrollbar{
    display: none;
}

.my-actorProfile p{
    text-overflow: ellipsis; /* enables ellipsis */
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden; /* keeps the element from overflowing its parent */
    background-color: #1a1a1aa2;
    border-radius: 5px 5px 20px 20px;
    padding: .3rem .8rem;
    width: 100%;
    text-align: center;
}

.my-mediaInfoBox{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
}

.my-mediaInfoBox .my-topBox{
    height: 200px;
    width: calc(100% - var(--generalMargin));
    background-color: #1a1a1a;

    margin: 1rem auto;

    border-radius: 25px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.my-mediaInfoBox .my-topBox iframe{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

#my-trailerErrorBox{
    width: 100%;
    height: 100%;
    background-color: #000000d5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.my-mediaInfoBox .my-botBox{
    height: calc(100vh - 200px - (var(--generalMargin) * 1.5));
    width: calc(100% - var(--generalMargin));
    background-color: #1a1a1a;

    margin: 1rem auto;

    border-radius: 25px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.my-mediaInfoBox .my-botBox .my-btn.mt-3{
    min-width: 3rem;
    width: 3rem;
    height: 3rem;
}

.my-mediaInfoBox .my-botBox .my-title{
    border-radius: 15px;
}

.my-mediaInfoBox .my-botBox .my-infoBox{
    height: calc(100vh - 200px - (var(--generalMargin) * 5.2));
    overflow-y: auto;
    overflow-x: hidden;
}

.my-mediaInfoBox .my-botBox .my-title h2{
    margin-bottom: 0 !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

/* .my-mediaBoxOpened{
    max-height: calc(30vh - var(--titleMovieHeight));
    transition: max-height .2s ease-out;
} */

.fa-spinner{
    animation: spin 1s linear infinite;
    font-size: 2rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: calc(50% - 1rem);
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}

.my-moviePoster .fa-spinner{
    top: calc(50% + 1rem);
}

@keyframes spin {
    100%{
        rotate: 360deg;
    }
}

.my-hidden{
    display: none !important;
}

/* ? FOOTER NAV-------------------------------------- */
footer{
    position: fixed;
    min-width: 100px;
    max-width: 500px;
    width: 100%;

    bottom: var(--generalMargin);
    left: 50%;
    transform: translate(-50%, 0);

    z-index: 999;
}

footer nav{
    width: calc(100% - var(--generalMargin));
    height: var(--footHeight);
    border-radius: 25px;
    background-color: #1a1a1a;
    color: #474748;
}

footer nav .fa-solid:hover{
    color: white;
    transition: color .2s;
}

footer nav .fa-solid.my-active{
    background-color: crimson;
    color: white;
    padding: 1rem;
    border-radius: 20px;
    translate: 0 -25%;
}

/* ? BOTTONE GENERALE-------------------------------- */
.my-btn{
    background-color: white !important;
    border-radius: 15px !important;
    font-weight: 500 !important;
    transition: color .2s, background-color .2s !important;
}

hr{
    color: white !important;
}

.my-btn:active{
    scale: .95;
}

/* ? FILTERBOX-------------------------------------- */
.my-filterContainer{
    height: var(--btnFilterHeight);
}

/* .my-filterContainer > .my-btn{
    z-index: 99999;
    transition: transform .2s !important;
} */

#my-filterBox{
    overflow-y: auto;
}

.my-filterContainer > div{
    position: absolute;
    width: calc(100% - var(--generalMargin));
    background-color: #1a1a1a;
    height: 70vh;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 200%);
    border-radius: 25px;
    z-index: 9999;
    transform-origin: bottom center;
    transition: transform .5s ease-out;
}

.my-filterContainer > div .my-btn.my-active{
    color: white !important;
    background-color: crimson !important;
}

.my-filterContainer > div section > div{
    overflow-x: scroll;
}

.my-filterGenreSection .my-btn{
    width: 150px;
    height: 62px;
}

.my-filterContainer > div section > div::-webkit-scrollbar{
    display: none;
}

.clusterize-no-data{
    line-height: calc(100vh - 1rem  - var(--footHeight) - (var(--generalMargin) * 2) - var(--btnFilterHeight) - var(--titleMovieHeight));
    background-color: #1a1a1a;
    margin: var(--generalMargin);
    border-radius: 25px;
}
